@import "../head.styl"
p
	margin 0
	padding 0
.ctrade_box
	margin-top 10px
	.ctrade_cells
		width 100%
		background-color white
		min-height 115px
		box-shadow 0 0 1px 1px #e0e0e0
		background-color #fff
		margin 5px 0
		display flex
	.ctrade_img
		flex 1
		background url("../../img/content_img_list@2x.png") no-repeat
		background-size 100%
		margin 10px 0 10px 15px
	.ctrade_txt
		flex 2
		font-size 14px
		margin-left 20px
		line-height 23px
		padding-top 10px
		b
			color #323232
em
	text-align right
