$orange=#ed6928
@import "../head.styl"
.header_title
	color black
.about_image
	height 220px
	position relative
	display flex
	.image_center
		width 148px
		height 148px
		background url("../../img/content_img_logo@2x(2).png") no-repeat center
		background-size 50%
		position absolute
		top 50%
		left 50%
		margin-top -74px
		margin-left -74px
/*.image_txt
	display flex
	width 100%

	.image_title
		flex 1
		width 142px
		height 38px
		background url("../../img/content_text_logo@2x.png") no-repeat
		background-size 50%
		text-align bottom

	.text_time
		flex 1
		display block*/

