body
	background-color #b2b2b2
	.btn_done
		width 230px
		height 100px
		background-color white
		position absolute
		top 50%
		left 50%
		margin-top -50px
		margin-left -115px
		border-radius 10px
	p
		text-align center
		display block
		line-height 30px