<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
	maximum-scale=1,minimum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-COMPATIBLE" content="ie=edge">
	<title>方圆几里-公司名</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/reservate/reservate_order.css">
</head>
<body>
	<header class="header">
		<i class="icon-back"></i>
		<span class="header_title">订单详情</span>
	</header>
	<span class="reservate_title">预约人</span>
	<div class="reservate_cells">
		<div class="reservate_cell">
			<div class="reservate_img"></div>
			<div class="reservate_text">
				<p>你才是张三</p>
				<span>租户</span>
			</div>
			<div class="reservate_call"></div>
		</div>
	</div>
	<span class="reservate_title">预约信息</span>
	<div class="reservate_content">
		<div class="reservate_txt">
			<div class="reservate_text">
				<p class="top_txt">华旭国际大厦</p>
				<p>区域:黄埔-人民广场</p>
				<p>面积:766m<span class="super">2</span></p>
			</div>
			<div class="reservate_rtext">
				<p>房型:商务中心</p>
				<p>单价:&yen;5.5元/m<span class="super">2</span>/天起</p>
			</div>
		</div>
		</div>
	<span class="reservate_title">预约时间</span>
	<div class="reservate_cells">
		<div class="reservate_text">
			<p class="date">2016-08-08</p>
		</div>
	</div>
	<span class="reservate_title">预约状态</span>
	<div class="reservate_cells">
		<div class="reservate_date p">
		<div class="reservate_text ">
			<p>08/10</p>
			<p class="date_txt">周三</p>
		</div>
		<span>订单成功</span>
	</div>
	</div>
	<div class="reservate_cells">
		<div class="reservate_date">
			<div class="reservate_text">
				<p>08/08</p>
				<p class="date_txt">周一</p>
			</div>
			<span>已改期</span>
		</div>
	</div>
	<div class="reservate_cells">
		<div class="reservate_date">
			<div class="reservate_text">
				<p>08/06</p>
				<p class="date_txt">周六</p>
			</div>
			<span>已接单，待反馈</span>
		</div>
	</div>

	<div class="reservate_footer">
		<ul class="footer_list">
			<li class="footer_li">改期</li>
			<li class="footer_li">达成</li>
			<li class="footer_li">取消</li>
		</ul>
	</div>
</body>
</html>