<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>方圆几里 - 杭州瑞烁网络科技股份有限公司</title>
	<meta name="keywords" content="杭州瑞烁网络科技股份有限公司"/>
	<meta name="description" content="杭州瑞栎网络科技有限公司成立于2015年是一家专注于专业市场电子商务公司
    杭州瑞栎网络科技有限公司成立于2015年， 公司主要经营教育软件 多媒体技术 游戏软件 计算机数据处理技术 计算机系统集成 教育信息咨询，公司秉承与客户共赢理念，为企业提供高效、务实的互联网营销服务，在专业市场的电子商务建设领域具有独特优势和丰富经验。"/>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/info/info_ctrade.css">
	<link rel="stylesheet" href="../../public/css/msg/msg_demand.css">
	<link rel="stylesheet" href="../../public/css/index/index.css">

</head>
<body>
	<header class="header">
		<i class="icon-back">上海</i>
		<span class="header_title">方圆几里</span>
	</header>
	<div class="search_box">
		<div class="search_input"><i class="icon-search"></i><span>挑好房，上方圆几里</span></div>
	</div>
	<div class="slider_box">
		<div class="slider_container">
			<div class="slider_block"></div>
			<div class="slider_block"></div>
			<div class="slider_block"></div>
			<div class="slider_block"></div>
			<div class="slider_block"></div>
		</div>
		<div class="point_box">
			<span class="point_block active"></span><span class="point_block"></span><span class="point_block"></span><span class="point_block"></span><span class="point_block"></span>
		</div>
	</div>
	<div class="query_box">
		<div class="query_block"><span class="text">区域</span><i class="icon"></i>
			<div class="down-box">
				<ul>
					<li>2</li>
					<li>2</li>
					<li>2</li>
					<li>2</li>
				</ul>
			</div>

		</div>
		<div class="query_block"><span class="text">面积</span><i class="icon"></i>
			<div class="down-box">
			<ul>
				<li>3</li>
			</ul>
		</div>
		</div>
		<div class="query_block"><span class="text">单价</span><i class="icon"></i>
			<div class="down-box">
				<ul>
					<li>全部</li>
					<li>100m以下</li>
					<li>100-200</li>
					<li>200-300m</li>
					<li>300-500m</li>
					<li>500-1000m</li>
					<li>1000m以上</li>
				</ul>
			</div>
			</div>
		<div class="query_block"><span class="text">更多</span><i class="icon"></i>
			<div class="down-box">
			<ul>
				<li>5</li>
			</ul>
		</div>
			</div>
		<div class="query_price"><i class="icon"></i></div>
		</div>


	<article class="ctrade_box">
		<section class="ctrade_cells">
			<div class="ctrade_img"></div>
			<div class="ctrade_txt">
				<div class="ctrade-title"><span class="pict">东方金融中心</span></div>
				<div class="ctrade-address">浦东-八佰伴</div>
				<div class="ctrade-tag_box"><span class="ctrade-bus">商务中心</span></div>
				<div class="ctrade-price"><span class="left_price"><em>&yen;7</em>元/平米/天起</span><span class="right_price">佣金:1个月</span></div>
			</div>
		</section>
		<section class="ctrade_cells">
			<div class="ctrade_img"></div>
			<div class="ctrade_txt">
				<div class="ctrade-title"><span class="pict">东方金融中心</span><em class="em"></em></div>
				<div class="ctrade-address">浦东-八佰伴</div>
				<div class="ctrade-tag_box"><span class="ctrade-bus">商务中心</span></div>
				<div class="ctrade-price"><span class="left_price"><em>&yen;7</em>元/平米/天起</span></div>
			</div>
		</section>

		<section class="ctrade_cells">
			<div class="ctrade_img"></div>
			<div class="ctrade_txt">
				<div class="ctrade-title"><span class="pict">东方金融中心</span><em class="em"></em></div>
				<div class="ctrade-address">浦东-八佰伴</div>
				<div class="ctrade-tag_box"><span class="ctrade-bus">商务中心</span></div>
				<div class="ctrade-price"><span class="left_price"><em>&yen;7</em>元/平米/天起</span></div>
			</div>
		</section>

		<section class="ctrade_cells">
			<div class="ctrade_img"></div>
			<div class="ctrade_txt">
				<div class="ctrade-title"><span class="pict">东方金融中心</span><em class="em"></em></div>
				<div class="ctrade-address">浦东-八佰伴</div>
				<div class="ctrade-tag_box"><span class="ctrade-bus">商务中心</span></div>
				<div class="ctrade-price"><span class="left_price"><em>&yen;7</em>元/平米/天起</span></div>
			</div>
		</section>

		<section class="ctrade_cells">
			<div class="ctrade_img"></div>
			<div class="ctrade_txt">
				<div class="ctrade-title"><span class="pict">东方金融中心</span><em class="em"></em></div>
				<div class="ctrade-address">浦东-八佰伴</div>
				<div class="ctrade-tag_box"><span class="ctrade-bus">商务中心</span></div>
				<div class="ctrade-price"><span class="left_price"><em>&yen;7</em>元/平米/天起</span></div>
			</div>
		</section>

		<section class="ctrade_cells">
			<div class="ctrade_img"></div>
			<div class="ctrade_txt">
				<div class="ctrade-title"><span class="pict">东方金融中心</span><em class="em"></em></div>
				<div class="ctrade-address">浦东-八佰伴</div>
				<div class="ctrade-tag_box"><span class="ctrade-bus">商务中心</span></div>
				<div class="ctrade-price"><span class="left_price"><em>&yen;7</em>元/平米/天起</span></div>
			</div>
		</section>

		<section class="ctrade_cells">
			<div class="ctrade_img"></div>
			<div class="ctrade_txt">
				<div class="ctrade-title"><span class="pict">东方金融中心</span><em class="em"></em></div>
				<div class="ctrade-address">浦东-八佰伴</div>
				<div class="ctrade-tag_box"><span class="ctrade-bus">商务中心</span></div>
				<div class="ctrade-price"><span class="left_price"><em>&yen;7</em>元/平米/天起</span></div>
			</div>
		</section>
	</article>
	<div class="msg_menu">
		<ul class="msg_box">
			<li class="msg_cell"><span>首页</span></li>
			<li class="msg_cell ue"><span>预约</span></li>
			<li class="msg_cell create"></li>
			<li class="msg_cell mes"><span>信息</span></li>
			<li class="msg_cell me" id="load_me"><span>我</span></li>
		</ul>
	</div>
	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../../public/libs/zepto/touch.js"></script>
	<script src="../../public/js/index/index.js"></script>
</body>
</html>