<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
	maximum-scale=1,minimum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-COMPATIBLE" content="ie=edge">
	<title>项目名-公司名</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/info/info_agents.css">
</head>
<body>
	<header class="header">
		<i class="icon-back"></i>
		<span class="header_title">运营商</span>
	</header>
	<span class="agent_title">必填项</span>
	<article class="agent_content">
		<div class="agent_around">
			<div class="agent_image"><span>添加头像</span></div>
		</div>
		<input type="text" class="agent_input" placeholder="公司名">
		<input type="text" class="agent_input" placeholder="企业邮箱/公司总机">
		<input type="text" class="agent_input" placeholder="联系人">
		<input type="text" class="agent_input" placeholder="联系方式">
	</article>
	<span class="agent_title">选填项</span>
	<div class="agent-cells">
		<article class="agent_content">
			<input type="text" class="agent_input" placeholder="微信号码">
		</article>
		<div class="agent-block">
			<p class="title">微信二维码</p>
			<p class="title">营业执照</p>
			<p class="title">运营/租赁协议</p>
		</div>
	</div>
	<button class="onload">完成</button>
</body>
</html>