* {
  padding: 0;
  outline: none;
}
body {
  background-color: #efefef;
}
body .header {
  height: 35px;
  background-color: #fff;
  line-height: 35px;
}
body .header .icon-back {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url("../../img/nav_back_icon@2x.png") no-repeat center;
  background-size: 12px 18px;
}
body .header .header_title {
  display: inline-block;
  width: 100%;
  color: #ed6928;
  text-align: center;
}
body .form-list {
  width: 100%;
  margin-top: 15px;
  background: #fff;
}
body .form-list .form-cell {
  position: relative;
  display: flex;
  height: 40px;
  line-height: 40px;
}
body .form-list .form-cell-name {
  display: inline-block;
  width: 50px;
  padding-left: 40px;
  background: url("../../img/content_ID_icon@2x.png") no-repeat left 10px center;
  background-size: 20%;
}
body .form-list .form-cell-name.cell-passwd {
  background: url("../../img/content_password_icon@2x.png") no-repeat left 10px center;
  background-size: 16%;
}
body .form-list .form-cell .form-cell-input {
  flex: 1;
  border: none;
}
body .form-list .form-cell .btn_code {
  width: 8em;
  font-size: 12px;
  background-color: #ed6928;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  height: 25px;
  line-height: 25px;
  margin-top: 8px;
  margin-right: 10px;
  border: none;
}
body .form-list .form-cell:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 10px;
  z-index: 5;
  display: block;
  height: 1px;
  width: 97%;
  background-color: #efefef;
}
body .form-list .form-cell .cell-code {
  width: 55px;
  background: url("../../img/content_verify_icon@2x.png") no-repeat left 10px center;
  background-size: 14%;
}
body .form-list .form-cell .cell-status {
  width: 50px;
  background: url("../../img/content_position_icon@2x.png") no-repeat left 10px center;
  background-size: 18%;
}
body .form-list .form-cell .cell-status:after {
  content: '';
  display: block;
  background: url("../../img/nav_back_icon@2x.png") no-repeat center;
  background-size: 40%;
  width: 20px;
  height: 36px;
  transform: rotate(-90deg);
  position: absolute;
  right: 10px;
  bottom: 7px;
}
body .bt_box {
  display: flex;
  height: 40px;
  margin-top: 20px;
  padding: 0 15px;
}
body .bt_box .btn_login {
  display: block;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #c7c7c7;
  color: #fff;
  font-size: 1.1rem;
  line-height: 40px;
}
body .bt_box .bt-reg {
  padding-left: 10px;
  flex: 1;
  color: #ed6928;
  font-size: 14px;
}
body .bt_box .registered {
  color: #707071;
}
body .bt_box .registered span {
  color: #ed6928;
  text-decoration: underline;
}
body .bt_box .bt-passwd {
  padding-right: 10px;
  font-size: 14px;
}
.register_pull {
  width: 4.5em;
  height: 150px;
  position: absolute;
  right: 15px;
  top: 28px;
  border-radius: 5px;
  background-color: #222;
  z-index: 10;
  display: none;
}
.register_pull .register_ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.register_pull .register_ul .register_li {
  width: 4.5em;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.verificate_code {
  display: inline-block;
  width: 65px;
}
#broker {
  color: #b4b4b4;
}
.move_size {
  width: 150px;
}
