<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
	maximum-scale=1,minimum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-COMPATIBLE" content="ie=edge">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/login/login.css">

	<title>项目名-公司名</title>

</head>
<body>
	<header class="header">
		<i class="icon-back"></i>
		<span class="header_title">登陆</span>
	</header>
	<article class="form-list">
		<section class="form-cell">
		<span class="form-cell-name">账号:</span>
			<input type="text" class="form-cell-input" placeholder="请输入您的手机号">
		</section>
		<section class="form-cell">
			<span class="form-cell-name cell-passwd">密码:</span>
			<input type="password" class="form-cell-input" placeholder="请输入您的账号密码">
		</section>
	</article>
	<div class="bt_box">
		<button class="btn_login">登录</button>
	</div>
	<div class="bt_box">
		<span class="bt-reg">注册</span>
		<span class="bt-passwd">忘记密码?</span>
	</div>
</body>

</html>