<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
	maximum-scale=1,minimum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-COMPATIBLE" content="ie=edge">
	<title>项目名-公司名</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/info/info_ctrade.css">
	<link rel="stylesheet" href="../../public/css/msg/msg_demand.css">
</head>
<body>
	<header class="header">
		<i class="icon-back"></i>
		<span class="header_title">收藏</span>
	</header>
	<div class="s_box">
		<div class="s_left ctrade-hou"><span>需求</span></div>
		<div class="s_right"><span>房源</span></div>
	</div>
	<article class="demand_cells">
		<section class="demand_cell">
			<header class="demand_title"><span class="d_t_name">一个新的租房需求</span><i class="d_t_tag">租户</i></header>
			<p class="demand_info">需求为:外滩SOHO,200平方写字楼,简装带家私,租金8元/m^2/天左右,附近有地铁</p>
			<footer class="demand_footer"><em class="text_time"></em><span class="btn_detail">了解详情</span><em class="text_time">08/04/12:12</em></footer>
		</section>
		<section class="demand_cell">
			<header class="demand_title"><span class="d_t_name">一个新的租房需求</span><i class="d_t_tag peo">经纪人</i></header>
			<p class="demand_info">需求为:外滩SOHO,200平方写字楼,简装带家私,租金8元/m^2/天左右,附近有地铁</p>
			<footer class="demand_footer"><em class="text_time"></em><span class="btn_detail">了解详情</span><em class="text_time">08/04/12:12</em></footer>
		</section>

	</article>
</body>
</html>