<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
	maximum-scale=1,minimum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-COMPATIBLE" content="ie=edge">
	<title>项目名-公司名</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/msg/msg_demand.css">
</head>
<body>
	<header class="tab_box">
		<ul class="tab_bar">
			<li class="tab_bar_cell">消息</li>
			<li class="tab_bar_cell active">通知</li>
			<li class="tab_bar_cell ">需求<span>3</span></li>
		</ul>
	</header>
	<article class="demand_cells">
		<section class="demand_cell">
			<header class="demand_title"><span class="d_t_name">房屋维护提示</span><em class="text_time">08/04/12:12</em></header>
			<p class="demand_info txt">您在本平台上传一处房源信息，现在有限期马上就要到了,请到"我发布的房源"中更新动态，5天后该房源将自动下架。</p>
			<footer class="demand_footer add">地址:徐汇—龙华 科技大厦</footer>
		</section>
		<section class="demand_cell">
			<header class="demand_title"><span class="d_t_name">房屋维护提示</span><em class="text_time">08/04/12:12</em></header>
			<p class="demand_info txt">您在本平台上传一处房源信息，现在有限期马上就要到了,请到"我发布的房源"中更新动态，5天后该房源将自动下架。</p>
			<footer class="demand_footer add">地址:徐汇—龙华 科技大厦</footer>
		</section>
		</article>
</body>
</html>