<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
	maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>项目名-公司名</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/info/info_index.css">
	<link rel="stylesheet" href="../../public/css/msg/msg_demand.css">
</head>
<body>
	<header class="header">
		<i class="icon-back"></i>
		<span class="header_title">我</span>
	</header>
	<div class="login_box top_login">
		<div class="login_img"></div>
		<div class="login_con login_change">呱呱呱叫<p>修改资料</p></div>

	</div>
	<div class="s_box">
		<div class="s_left"><span>64</span><span>收藏</span></div>
		<div class="s_right"><span>624</span><span>积分</span></div>
	</div>

	<div class="link_cell">
		<span>我发布的需求</span>
	</div>
	<div class="link_cell house">
		<span>我发布的房源</span>
	</div>
	<div class="link_cell chat">
		<span>我预约的房源</span>
	</div>
	<div class="link_cell case">
		<span>历史交易</span>
	</div>
	<div class="link_cell out">
		<span>过期房源</span>
	</div>
	<div class="msg_menu">
		<ul class="msg_box">
			<li class="msg_cell"><span>首页</span></li>
			<li class="msg_cell ue"><span>预约</span></li>
			<li class="msg_cell create"></li>
			<li class="msg_cell mes active"><span>信息<span class="right_icon">3</span></span></li>
			<li class="msg_cell me"><span>我</span></li>
		</ul>
	</div>
</body>
</html>