body {
  background-color: #efefef;
  font-family: Microsoft YaHei;
}
.header {
  display: flex;
  height: 50px;
  background-color: #fff;
  border-bottom: 2px solid #d6d7dc;
}
.header .icon-back {
  display: block;
  width: 50px;
  height: 50px;
  background: url("../../img/nav_back_icon@2x.png") no-repeat center;
  background-size: 25%;
}
.header .header_title {
  flex: 1;
  padding-right: 50px;
  line-height: 50px;
  text-align: center;
}
.header {
  position: absolute;
  top: 0;
  z-index: 5;
  width: 100%;
  color: #fff;
  background-color: transparent;
  border: none;
}
.header .icon-back {
  width: 65px;
  padding-left: 15px;
  background: transparent url("../../img/nav_icon_down@2x.png") no-repeat left 50px center;
  background-size: 12px 6px;
  line-height: 50px;
  font-style: normal;
}
.header .header_title {
  padding-right: 80px;
}
.search_box {
  position: absolute;
  top: 50px;
  right: 15px;
  left: 15px;
  z-index: 5;
}
.search_box .search_input {
  height: 30px;
  border-radius: 3px;
  background-color: #f1f1f1;
  text-align: center;
  line-height: 30px;
  color: #999;
  font-size: 14px;
}
.search_box .search_input .icon-search {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../../img/nav_icon_search@2x.png") no-repeat center;
  background-size: 16px;
  vertical-align: bottom;
}
.slider_box {
  width: 100%;
  height: 272px;
  overflow: hidden;
}
.slider_box .slider_container {
  width: 300%;
  transition: all 0.5s;
  transform: translateX(0);
}
.slider_box .slider_container:after {
  content: '';
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.slider_block {
  float: left;
  width: 375px;
  height: 320px;
  background: url("../../img/banner_img@2x.png") no-repeat;
  background-size: 100%;
}
.slider_block:nth-child(2) {
  background-color: #0000ed;
}
.slider_block:nth-child(3) {
  background-color: #0f0;
}
.slider_block:nth-child(4) {
  background-color: #f66;
}
.slider_block:nth-child(5) {
  background-color: #009926;
}
.point_box {
  position: relative;
  top: -30px;
  z-index: 5;
  height: 16px;
  text-align: center;
}
.point_box .point_block {
  display: inline-block;
  width: 16px;
  height: 16px;
  z-index: 6;
  background: url("../../img/banner_icon_point_nor@2x.png") no-repeat center;
  background-size: 10px;
}
.point_box .point_block.active {
  background: url("../../img/banner_icon_point_press@2x.png") no-repeat center;
  background-size: 10px;
}
.query_box {
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 15px;
  background-color: #fff;
}
.query_box .query_block {
  flex: 1;
}
.query_box .query_block .down-box {
  width: 100%;
  background-color: #f0f0f0;
  padding-bottom: 10px;
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 10;
}
.query_box .query_block .down-box .down_sells {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.query_box .query_block .down-box .down_sells .down_sell {
  text-align: center;
  line-height: 40px;
  color: #323232;
}
.query_box .query_block .price_content {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.query_box .query_block .price_content .region {
  width: 22%;
  height: 30px;
  border: 1px solid #d6d7dc;
  border-radius: 3px;
}
.query_box .query_block .price_content .line_auto {
  display: inline-block;
  width: 20px;
  height: 1px;
  background-color: #b4b4b4;
  margin: 0 5px 5px 5px;
}
.query_box .query_block .price_cur {
  width: 20%;
  height: 34px;
  border: 1px solid #d6d7dc;
  border-radius: 3px;
  background-color: #fff;
  font-size: 14px;
  color: #323232;
  margin-left: 5px;
}
.query_box .query_block .text {
  display: block;
  height: 35px;
  text-align: center;
  line-height: 35px;
}
.query_box .query_block .icon {
  display: block;
  height: 15px;
  background: url("../../img/content_icon02_nor@2x.png") no-repeat center;
}
.query_box .query_price {
  width: 50px;
  height: 50px;
  background: url("../../img/content_icon01_nor@2x.png") no-repeat center;
  background-size: 30px;
}
.block_box {
  display: flex;
  padding: 15px;
  background-color: #fff;
}
.block_box .img_box {
  flex: 2;
}
.block_box .info_box {
  flex: 5;
}
