body {
  background-color: #efefef;
  font-family: Microsoft YaHei;
}
.header {
  display: flex;
  height: 50px;
  background-color: #fff;
  border-bottom: 2px solid #d6d7dc;
}
.header .icon-back {
  display: block;
  width: 50px;
  height: 50px;
  background: url("../../img/nav_back_icon@2x.png") no-repeat center;
  background-size: 25%;
}
.header .header_title {
  flex: 1;
  padding-right: 50px;
  line-height: 50px;
  text-align: center;
}
.info_box {
  padding: 20px 15px;
  background-color: #fff;
}
.info_box .info_img {
  width: 65px;
  height: 65px;
  margin: 0 auto;
  background: url("../../img/head_image_03.png") no-repeat center;
  background-size: 100%;
  border-radius: 50%;
  margin-bottom: 7px;
}
.info_box .info_name {
  text-align: center;
  line-height: 24px;
  font-size: 1rem;
  color: #323232;
  font-weight: bold;
}
.info_box .info_desc {
  text-align: center;
  line-height: 18px;
  color: #646464;
  font-size: 14px;
  margin: 6px 0px;
}
.info_box .info_edit {
  width: 6em;
  padding: 1px 10px;
  color: #ed6928;
  border: 1px solid #ed6928;
  border-radius: 3px;
  line-height: 26px;
  font-size: 12px;
  margin: 0 auto;
}
.info_cells {
  margin-top: 20px;
  background: #fff;
  font-size: 14px;
}
.info_cells .info_cell {
  display: flex;
  padding: 0 15px;
  line-height: 40px;
  border-bottom: 1px solid #d6d7dc;
}
.info_cells .info_cell .info-name {
  flex: 3;
  font-size: 0.875em;
  color: #646464;
}
.info_cells .info_cell .info-content {
  flex: 4;
  text-indent: 10px;
  color: #323232;
}
.info_cells .info_cell .left_edit {
  flex: 10;
}
.info_cells .info_cell .person {
  font-size: 0.78rem;
  text-indent: 8px;
  white-space: nowrap;
  overflow: hidden;
}
.info_cells .image-cell {
  display: flex;
  margin-top: 20px;
}
.info_cells .image-cell .image-block {
  font-size: 12px;
  flex: 1;
  margin: 0px 11px;
  color: #878787;
  text-align: center;
}
.info_cells .image-cell .image-block div {
  margin: 0 auto;
  border-radius: 3px;
  width: 100%;
  height: 64px;
  background: #878787;
}
.edit_image {
  background: url("../../img/head_image_03.png") no-repeat 5px;
  background-size: 30px;
}
.edit_black {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
}
.edit_photo {
  width: 100%;
  height: 180px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
}
.edit_photo .edit_cells {
  list-style: none;
  margin: 0;
  padding: 0;
}
.edit_photo .edit_cells .edit_cell {
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  position: relative;
}
.edit_photo .edit_cells .edit_cell:after {
  content: '';
  height: 1px;
  width: 80%;
  position: absolute;
  bottom: -1px;
  left: 50%;
  margin-left: -40%;
  z-index: 5;
  display: block;
  background-color: #efefef;
}
.edit_photo .edit_cells .edit_cell:last-child:after {
  display: none;
}
.edit_photo .edit_cells .active {
  color: #ed6928;
}
.edit_cel {
  position: relative;
}
.edit_cel:after {
  content: '';
  display: block;
  width: 16px;
  height: 30px;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -15px;
  background: url("../../img/content_list_right_icon@2x.png") no-repeat right center;
  background-size: 50%;
}
