body {
  background-color: #efefef;
  font-family: Microsoft YaHei;
}
.header {
  display: flex;
  height: 50px;
  background-color: #fff;
  border-bottom: 2px solid #d6d7dc;
}
.header .icon-back {
  display: block;
  width: 50px;
  height: 50px;
  background: url("../../img/nav_back_icon@2x.png") no-repeat center;
  background-size: 25%;
}
.header .header_title {
  flex: 1;
  padding-right: 50px;
  line-height: 50px;
  text-align: center;
}
body {
  background: #efeff1;
}
body .login_box {
  position: relative;
  display: flex;
  height: 95px;
  padding: 0 15px;
  background: #fff;
}
body .top_login {
  margin-top: 10px;
}
body .top_login .login_img {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 64px;
  height: 64px;
  margin-top: -32px;
  border-radius: 50%;
  background: url("../../img/log in_user-head@2x.png") no-repeat;
  background-size: cover;
}
body .top_login .login_con {
  flex: 1;
  padding-left: 80px;
  line-height: 95px;
}
body .top_login .login_con p {
  margin: 0;
  padding: 0;
}
body .top_login .login_con:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -18px;
  display: block;
  width: 20px;
  height: 36px;
  background: url("../../img/log in_right_icon@2x.png") no-repeat center;
  background-size: 50%;
}
body .link_cell {
  position: relative;
  height: 50px;
  padding-left: 45px;
  background: #fff url("../../img/content_list_icon01@2x.png") no-repeat left 15px center;
  background-size: 20px;
  line-height: 50px;
  margin-top: 10px;
}
body .link_cell:after {
  content: '';
  display: block;
  width: 16px;
  height: 30px;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -15px;
  background: url("../../img/content_list_right_icon@2x.png") no-repeat right center;
  background-size: 50%;
}
body .house {
  height: 50px;
  padding-left: 45px;
  background: #fff url("../../img/content_list_icon02@2x.png") no-repeat left 15px center;
  background-size: 20px;
  line-height: 50px;
  margin-top: 10px;
}
body .chat {
  height: 50px;
  padding-left: 45px;
  background: #fff url("../../img/content_list_icon05@2x.png") no-repeat left 15px center;
  background-size: 20px;
  line-height: 50px;
  margin-top: 10px;
}
body .case {
  height: 50px;
  padding-left: 45px;
  background: #fff url("../../img/content_list_icon03@2x.png") no-repeat left 15px center;
  background-size: 20px;
  line-height: 50px;
  margin-top: 10px;
}
body .out {
  height: 50px;
  padding-left: 45px;
  background: #fff url("../../img/content_list_icon04@2x.png") no-repeat left 15px center;
  background-size: 20px;
  line-height: 50px;
  margin-top: 10px;
}
.s_box {
  background-color: #fff;
  width: 100%;
  height: 50px;
  display: flex;
  border-top: 1px solid #d6d7dc;
}
.s_box .s_left {
  flex: 1;
  text-align: center;
  margin: 0 auto;
  border-right: 1px solid #d6d7dc;
  line-height: 50px;
  color: #646464;
}
.s_box .s_right {
  flex: 1;
  line-height: 50px;
  text-align: center;
  margin: 0 auto;
  color: #646464;
}
