body {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.releae_cells {
  width: 100%;
  height: 180px;
  background: url("../../img/banner_img@3x.png") no-repeat;
  background-size: 100%;
  position: relative;
}
.releae_cells:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url("../../img/nav_back_icon@3x.png") no-repeat;
  background-size: 50%;
  position: absolute;
  top: 20px;
  left: 10px;
}
.releae_cells .releae_cell {
  position: absolute;
  bottom: 5px;
  width: 100%;
}
.releae_cells .releae_cell .releae_title {
  display: flex;
  width: 100%;
}
.releae_cells .releae_cell .releae_title span {
  flex: 1;
  color: #ea5404;
  margin-left: 10px;
}
.releae_cells .releae_cell .releae_title span em {
  color: #fff;
  font-style: normal;
  font-size: 12px;
}
.releae_cells .releae_cell .releae_title .title {
  text-align: right;
  margin-right: 10px;
  color: #fff;
}
.releae_content {
  background-color: #121211;
  width: 100%;
}
.releae_content .releae_list {
  width: 93%;
  margin: 0 auto;
  padding-top: 10px;
}
.releae_content .releae_list .releae_li {
  display: flex;
  width: 100%;
  border-top: 1px solid #474743;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
}
.releae_content .releae_list .releae_li span {
  flex: 3;
  margin-left: 3px;
  color: #7e7e7e;
}
.releae_content .releae_list .releae_li .title {
  flex: 4;
  text-align: left;
  color: #fff;
}
.releae_content .releae_list .releae_li .txt {
  text-align: right;
  margin-right: 5px;
}
.releae_content .releae_list .releae_li em {
  font-style: normal;
  color: #ea5404;
}
.releae_content .releae_list .releae_li .super {
  vertical-align: super;
  font-size: 12px;
  line-height: 5px;
}
.releae_content .releae_list .releae_li .area {
  margin-left: 5px;
}
.releae_content .releae_list .releae_li .area:before {
  content: '|';
  color: #474743;
  margin-right: 3px;
}
.releae_content .releae_list .releae_li .area_txt {
  flex: 1;
}
.releae_content .releae_list .releae_li .area_txts {
  flex: 4;
  color: #fff;
}
.releae_introdece {
  width: 93%;
  color: #7e7e7e;
  margin: 0 auto;
  border-top: 1px solid #474743;
  font-size: 14px;
  padding-top: 10px;
}
.releae_introdece p {
  margin: 0;
  padding: 0;
  line-height: 16px;
}
.releae_btn {
  width: 100%;
  background-color: #ea5404;
  color: #fff;
  border: none;
  line-height: 30px;
  margin-top: 30px;
}
