body {
  background-color: #b2b2b2;
}
body .btn_done {
  width: 230px;
  height: 100px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -115px;
  border-radius: 10px;
}
body p {
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
}
body .border_p {
  height: 55px;
  border-bottom: 1px solid #d6d7dc;
  line-height: 55px;
  color: #323232;
  font-size: 14px;
}
body .confirm_p {
  height: 45px;
  line-height: 45px;
  color: #ea5404;
}
