body {
  background-color: #efefef;
  font-family: Microsoft YaHei;
}
.header {
  display: flex;
  height: 50px;
  background-color: #fff;
  border-bottom: 2px solid #d6d7dc;
}
.header .icon-back {
  display: block;
  width: 50px;
  height: 50px;
  background: url("../../img/nav_back_icon@2x.png") no-repeat center;
  background-size: 25%;
}
.header .header_title {
  flex: 1;
  padding-right: 50px;
  line-height: 50px;
  text-align: center;
}
.ctrade_box {
  margin-top: 10px;
}
.ctrade_box .ctrade_cells {
  width: 100%;
  min-height: 115px;
  box-shadow: 0 0 1px 1px #e0e0e0;
  background-color: #fff;
  margin: 5px 0;
  display: flex;
}
.ctrade_box .ctrade_img {
  flex: 3;
  background: url("../../img/content_img_list@2x.png") no-repeat;
  background-size: 100%;
  margin: 10px 0 10px 15px;
}
.ctrade_box .ctrade_txt {
  flex: 4;
  font-size: 12px;
  margin-left: 15px;
  line-height: 22px;
}
.ctrade-title {
  display: flex;
  padding-top: 10px;
  position: relative;
}
.ctrade-title .ctrade-pic:after {
  content: '';
  display: block;
  width: 16px;
  height: 30px;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -15px;
  background: url("../../img/collect_icon_press@2x.png") no-repeat right center;
  background-size: 100%;
}
.ctrade-title span {
  font-size: 14px;
  flex: 3;
  color: #323232;
  font-weight: bold;
}
.ctrade-title em {
  flex: 1;
  font-style: normal;
}
.ctrade-address {
  color: #646464;
}
.ctrade-bus {
  border: 1px solid #ed6928;
  border-radius: 3px;
  padding: 1px 4px;
  color: #ed6928;
}
.ctrade-price {
  display: flex;
  font-size: 12px;
  color: #727272;
}
.ctrade-price em {
  color: #ed6928;
  font-style: normal;
  font-size: 14px;
  margin-right: 1px;
}
.ctrade-price .left_price {
  flex: 3;
}
.ctrade-price .right_price {
  flex: 2;
}
.s_box {
  background-color: #fff;
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: 6px;
}
.s_box .s_left {
  flex: 1;
  text-align: center;
  margin: 0 auto;
  border-right: 1px solid #d6d7dc;
  line-height: 50px;
  color: #323232;
}
.s_box .s_right {
  flex: 1;
  line-height: 50px;
  text-align: center;
  margin: 0 auto;
}
.s_box .ctrade-hou {
  color: #ed6928;
  border-bottom: 1px solid #ed6928;
}
