@import "../head.styl"
.radio_block
  display inline-block
  height 24px
  line-height 24px
  .radio_btn
    display inline-block
    height 6px
    width 6px
    margin 4px
    border 1px solid #eb5c10
    border-radius 50%
    vertical-align bottom
    line-height 12px
  &.selected
    .icon
      display inline-block
      width 2px
      height 2px
      margin 1px
      border 1px solid transparent
      background-color #eb5c10
      border-radius 50%
.select_box
  width 80%
  position relative
  .select_title
    position relative
    height 40px
    padding 0 10px
    background-color #efefef
    border 1px solid #cecece
    line-height 40px
    border-radius 5px
    &:before
    &:after
      content ''
      position absolute
      right 23px
      top 12px
      display block
      width 2px
      height 12px
      background-color #ababab
      transform rotate(-45deg)
    &:after
      right 15px
      transform rotate(45deg)
  .select_list
    display none
    list-style none
    position absolute
    right 0
    left 0
    top 38px
    border 1px solid #cecece
    border-radius 0 0 5px 5px
    margin 0
    padding 0
    background-color #efefef
    .select_li
      height 40px
      padding 0 10px
      line-height 40px
      position relative
      &:after
        content ''
        position absolute
        bottom 0
        left 10px
        right 0

        display: block
        height 1px
        background-color #cecece
      &:last-child:after
        display none
.txt_delete
  line-height 50px
  margin-left 10px
.ponent
  margin 10px
.search_new
  height 30px
  width 70%
  border 1px solid #cccccc
  border-radius 3px
  background url("../../img/banner_icon_search@2x.png") 10px 8px no-repeat
  background-size 8%
  font-size 14px
  text-indent 2.5em
  background-color white
.plus_img
  display inline-block
  width 20px
  height 20px
  background url("../../img/content_plus_icon@2x.png") 5px 8px no-repeat
  background-size 50%
.plus
  font-size 14px
.build_message
  background-color white
  height 310px
  padding 10px 0 0 10px
  width 97%
  .ponent_cells
    margin 0
    padding 0
    list-style none
  .ponent_cell
    font-size 14px
    text-indent 2.5em
  .diff
    text-indent 5px
  .ponent_line
    font-size 14px
    padding-left 5px
    color #d6d7dc
  .ponent_line:after
    content ''
    height 1px
    width 70%
    background-color #b4b4b4
    margin-left 65px
    display block
.ponent_point
  color #bee949
  display:list-item;
  list-style-type:disc;
  margin-left:1em
  span
    color #646464
.house_message
  background-color white
  height 310px
  padding 10px 0 0 10px
  width 97%
  margin-top 15px
  .point
    color #49cde9
p
  margin 0
  padding 0
  color #646464
  font-size 14px
  text-indent 2em
  line-height 20px


